<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>book</title>
    <link th:href="@{/static/css/main.css}" rel="stylesheet" />
    <script th:inline="javascript">
      var rootPath =/*[[@{/}]]*/
    </script>

  
    </style>
  </head>
  <body>
    <header class="main">빛고을 도서대여점</header>
    <nav class="main">
      <ul>
        <li class="code">code</li>
        <li class="name">제목</li>
        <li class="auther">작가</li>

        <li class="comp">comp</li>
        <li class="year">연도</li>

        <li class="iprice">구입가</li>
        <li class="rprice">판매가</li>
      </ul>
    </nav>

    <footer>
      <address>CopyRight &copy; callor@callor.com All Right Reserved</address>
    </footer>
  </body>
</html>
