<!DOCTYPE html>

<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <header class="main" th:fragment="header">
    <h1>book</h1>
  </header>

  <nav class="main" th:fragment="nav">
    <ul>
      <li class="code">code</li>
      <li class="name">제목</li>
      <li class="auther">작가</li>

      <li class="comp">comp</li>
      <li class="year">연도</li>

      <li class="iprice">구입가</li>
      <li class="rprice">판매가</li>
    </ul>
  </nav>

  <footer th:fragment="footer">
    <address>CopyRight &copy; callor@callor.com All Right Reserved</address>
  </footer>
</html>
